#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    z-index: 1000;
    background-color: white; /* Optional, in case you want a background color */
}

#loadingScreen img {
    max-width: 90%; /* Adjust as needed */
    max-height: 90vh; /* Adjust as needed */
    object-fit: contain;
    z-index: 1;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add some space above the button */
    z-index: 2;
}