#startButton {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 20px; /* Add some space above the button */
}

#startButton:hover {
    background-color: #0056b3;
}

#startButton:active {
    background-color: #004099;
    transform: translateY(2px);
}

@media only screen and (max-width: 768px) {
    #loadingScreen img {
        max-width: 90%;
        max-height: 90vh;
    }
    #startButton {
        padding: 15px 30px;
        font-size: 2em; /* Larger text for smaller screens */
    }
}